.card-detail {
  width: 25px;
  text-align: center;
  position: absolute;
}

.card-detail--top {
  $padding: 5px;
  @extend .card-detail;
  top: $padding;
  left: $padding;
}

.card-detail--bottom {
  $padding: 5px;
  @extend .card-detail;
  bottom: $padding;
  right: $padding;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.card-detail__value {
  display: block;
}
