.button {
  $gradient1: #ffdc91;
  $gradient2: #ea9761;

  background: linear-gradient($gradient1, $gradient2);
  border: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 10px 30px;
  box-shadow: 2px 2px 0 rgba(128, 60, 55, 1.000);
  color: #803c37;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  margin: 10px;

  &:hover {
    background: linear-gradient(darken($gradient1, 5%), darken($gradient2, 5%));
  }
}
