.card {
  font-weight: bold;
  text-transform: capitalize;
  background-color: white;
  width: 115px;
  height: 160px;
  margin: 10px;
  display: inline-block;
  position: relative;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.5);

  &.red { color: red; }
  &.black { color: black; }
}

.card__suit {
  display: block;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
