.game-score {
  text-transform: uppercase;
  color: #046b97;
  font-weight: bold;
  font-size: 13px;
  background: rgba(255,255,255,0.7);
  display: inline-block;
  padding: 10px 30px;
  border-radius: 99px;
  -moz-border-radius: 99px;
  -webkit-border-radius: 99px;
}
