.table {
  background-image: url('images/table-art.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 10px;
  height: 75vh;
  text-align: center;
  position: relative;
}
